@media screen and (max-width: 960px) {
  .navbar {
    padding: 20px 20px;
  }

  .nav__links {
    display: none;
  }

  .ham {
    display: block;
    visibility: visible;
  }

  .hero__section-wrapper {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
  }

  .hero__intro {
    text-align: center;
  }

  .browsers .firefox {
    margin-top: 10px;
  }

  .feature__section-wrapper {
    padding: 40px 20px;
  }

  .offered__services {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
  }

  .about__features {
    margin-top: 20px;
    padding: 0;
  }

  .extension__section-wrapper {
    padding: 40px 20px;
  }
}
